*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.8rem;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}

button {
    cursor: pointer;
    font-family: inherit;
}

input,
textarea {
    font-family: inherit;
    resize: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cv-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.general-form,
.education-form,
.work-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
}
