*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 0.8rem;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}

.title-div {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    gap: 0.5rem;
}

.main-title {
    font-size: 2rem;
}

#title-image {
    height: 3rem;
    width: auto;
}

button {
    cursor: pointer;
    font-family: inherit;
    padding: 0.25rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: var(--dark-blue);
    color: white;
}

input {
    height: 1.5rem;
}

input {
    border-radius: 5px;
}

input,
textarea {
    border: none;
    font-family: inherit;
    resize: none;
    text-indent: 4px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.cv-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 595px;
    background-color: #d0eafb;
    border-radius: 5px;
    padding-top: 0.5rem;
}

.cv-form h3 {
    align-self: flex-start;
    padding-bottom: 0.25rem;
    padding-top: 1rem;
    padding-left: 2.7rem;
    font-size: 1.1rem;
}

.general-form,
.education-form,
.work-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    gap: 1.5rem;
    padding-bottom: 1.25rem;
}

.general-form,
.education-form {
    border-bottom: 2px solid var(--dark-blue);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 0.25rem;
}

.form-line {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-line label {
    font-size: 0.6rem;
}

.cv-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Responsiveness */
@media (max-width: 640px) {
    .cv-form {
        width: 80%;
    }

    .cv-form h3 {
        align-self: center;
    }
}
