:root {
    --dark-blue: #195c70;
    --grey: #5e5e5e;
    --light-blue: #81aebb;
    --blue: #377ea4;
}

.resume-bin {
    width: 595px;
    height: 841px;
    padding: 50px 50px 15px 50px;
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 0 3px 0 hsl(0deg 0% 0% / 20%);
}

.resume-bin header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: 3px solid var(--light-blue);
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.heading h1 {
    color: var(--dark-blue);
}

.heading h2 {
    color: var(--grey);
    font-weight: 100;
}

ul {
    list-style: none;
    line-height: 2rem;
}

li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

li img {
    width: 1.3rem;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1.5rem;
    gap: 0.5rem;
}

section h3 {
    color: var(--dark-blue);
}

.education-entry {
    display: flex;
    justify-content: space-between;
}

.work-section {
    gap: 1rem;
}

.work-entry {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.work-heading {
    display: flex;
    justify-content: space-between;
}

.work-details {
    text-align: justify;
    overflow: auto;
}

span {
    font-weight: 600;
}

footer {
    justify-content: center;
    width: 100%;
    margin-top: auto;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0rem;
    color: rgb(84, 83, 83);
    border-top: 2px solid var(--light-blue);
}
