.footer-buttons {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.color-picker {
    display: flex;
    gap: 1rem;
}

.color-picker button {
    border-radius: 5px;
    border: 1px solid black;
    height: 2rem;
    width: 2rem;
}

#red {
    background-color: red;
}

#blue {
    background-color: rgb(0, 157, 255);
}

#green {
    background-color: rgb(90, 194, 90);
}

#black {
    background-color: black;
}

.download {
    border: 1px solid var(--dark-blue);
}
